
      
<%- include ('includes/head.ejs', {username: username,
                                permissions:permissions,})%>
<h2 class="title">Welcome to the Summoner's Rift!</h2>
<div class="columns">
    <% let columns = 0; %>
    <% for (let champion of champions){ %>
        <% columns++ %>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="/uploads/<%= champion.image %>" alt="<%= champion.name %>">
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title is-4"><span><%=champion.name%></span></p>
                    <p>Level: <span><%=champion.level%></span></p>
                    <p>Health: <span><%=champion.health%></span></p>
                    <p>Attack: <span><%=champion.attack%></span></p>
                </div>
            </div>
        </div>
            <% if (columns % 5 == 0) { %>
        </div>
        <div class="columns">
    <% } %>
<%  }  %>
</div>
<%- include ('includes/foot.ejs')%>